#b1 {

    background-color: #ffff00;
    display: block;
    width: 100%;
    height: 61px;


}

.b2 {

    background-color: blue;
    width: 1200px;
    height: 61px;
    display: flex;
    border-width: 1200px;

    
}

.b3 {

    background-color: green;


}

.b4 {

    background-color: plum;

    

}
