:root {

    --background-color-topo: #707070;
    --color-topo: rgb(0, 0, 0);
    --background-color-final: #707070;
    --font-weight-titulos: bold;
    --font-weight-texto: normal;
    --font-family: arial;

}

.centralizado {
    margin: 0 auto;
}

.comprimento {
    width: 1200px;
    height: 100%;
}

.topo {
    background-color: var(--background-color-topo);
    width: 100%;
    height: 61px;
}

.sub-topo {
    margin-top: 31px;
}

.link-sub-topo-pagina-inicial {

    font-size: 16px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
    text-decoration: none;

}

.link-sub-topo-fale-conosco {
    color: var(--color-topo);
    text-decoration: none;
}

.enviada {
    font-size: 20px;
    font-weight: var(--font-weight-titulos);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    margin-top: 31px;
    color: var(--color-topo);
}

.menu {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .titulo {} */

.link-meu-livro {
    font-size: 25px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
    text-decoration: none;
}

/* .item-topo {} */

.link-fale-conosco {
    font-size: 16px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
    text-decoration: none;
}

.meio {
    background-color: #e4dddd;
    min-height: 300px;
    text-align: left;
    color: var(--color-topo);
}

.miolo-pagina {
    min-height: 183px;
    background-color: #ffffff;
    border: #707070 1px solid;
    margin-top: 33px;
    margin-bottom: 506px;
}

.conteudo-do-miolo {
    padding: 20px;
}

button {
    background-color: #ffffff;
    width: 249px;
    height: 42px;
    float: right;
    margin-top: 70px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
}

.link-button {
    color: var(--color-topo);
    text-decoration: none;
    font-size: 16px;
    font-weight: var(--font-weight-titulos);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
}

.final {
    background-color: var(--background-color-final);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 0 auto;
}

.rodape {
    text-align: center;
    font-size: 18px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
}

/* Pagina Fale Conosco */

.entre-em-contato {
    height: 45px;
    text-align: left;
    font-size: 18px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
    margin-top: 30px;
}

form {
    text-align: left;
    font-size: 18px;
    font-weight: var(--font-weight-titulos);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
}

.box {
    display: flex;
    margin-top: 40px;
}

fieldset {
    border: none;
    opacity: 1;
    width: 100%;
    padding: 0%;
}

.inputbox {
    display: flex;
    flex-direction: column;
}

.inputuser {
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelinput {
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.box-enviar {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.submit-esquerdo {
    margin-top: 0;
    width: 249px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}

.submit-direito {
    margin-top: 0;
    width: 95px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}

img {
    width: 100%;
}

input#nome.inputuser {
    width: 80%;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-bottom: 17px;
    display: block;
}

input#email.inputuser {
    width: 80%;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-bottom: 17px;
    display: block;
}

input#mensagem.inputuser {
    width: 100%;
    height: 125px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-bottom: 17px;
}



.Texto-entre-contato {
    margin-top: 30px;
    text-align: left;
    font-size: 20px;
    font-weight: var(--font-weight-titulos);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
    margin-bottom: 45px;
}

.Texto-queremos-ouvir {
    text-align: left;
    font-size: 18px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
    margin-bottom: 40px;
}

p.queremos-ouvir {
    font-size: 24px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
}

.texto-vermelho {
    display: inline-flex;
    background-color: #FE6C6C;
    text-align: left;
    font-size: 16px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: #FFFFFF;
    padding: 7px 6px 7px 9px;
    margin-bottom: 27px;
}

a:hover {
    filter: brightness(0.85);
}

.botao:hover {
    background-color: #f7f6f6;
}

.imagem {
    margin-top: 20px;
}

.input:hover {
    background-color: #f7f6f6;
}

/* Atividade do quadrado  */

.descriçao {
    width: 1200px;
    height: 120px;
    margin-top: 40px;
    line-height: 100%;
    color: var(--color-topo);
}

.sub-descriçao {

    text-align: left;
    font-size: 18px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
}

.artigo {
    width: 875px;
    height: auto;
    margin-top: 4%;
    background-color: transparent;
}

.bloco-artigo {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    margin-bottom: 45px;

}

.img-artigo {
    width: 131px;
    height: 131px;
    float: left;
    padding-right: 17px;
}

.conteudo-artigo {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.titulo-artigo {

    font-size: 20px;
    font-weight: var(--font-weight-titulos);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    margin-bottom: 10px;
}

.texto-artigo {

    font-size: 18px;
    font-weight: var(--font-weight-texto);
    font-family: var(--font-family);
    line-height: 100%;
    font-style: normal;
    color: var(--color-topo);
}

.titulo-secao {
    font-size: 18px;
    font-weight: var(--font-weight-titulos);
    font-style: normal;
    font-family: var(--font-family);
    color: var(--color-topo);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 45px;
    flex-direction: row;
}

.recomendacao {

    width: 827px;
    height: 285px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.img-recomendacao {

    width: 169px;
    height: 220px;
}
 
.conteudo-recomendacao {

    display: flex;
    flex-direction: column;
}

.titulo-recomendacao {
    
    
    margin-top: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: var(--font-weight-titulos);
    font-style: normal;
    font-family: var(--font-family);
    color: var(--color-topo);
    letter-spacing: 0px;
    color:var(--color);
    opacity: 1;
}

.texto-recomendacao {

    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: var(--font-weight-texto);
    font-style: normal;
    font-family: var(--font-family);
    color: var(--color-topo);
    letter-spacing: 0px;
    color:var(--color);
    opacity: 1;
}
/* funcionamento do responsive */


.comprimento {
    width: 1200px;
}

.bloco-artigo {
    display: flex;
    flex-direction: row;
}


@media (max-width: 1200px) {
    .comprimento {
        width: 100%;
    }

    .artigo {
        width: 100%;
    }

    .bloco-artigo {
        flex-direction: column;

    }

    .img-artigo {

        padding-right: 0;
        padding-bottom: 15px;

    }
}

@media (max-width: 1200px) {

    .comprimento {
        width: 100%;
    }

    .descriçao {

        width: 100%;
    }

    .bloco-recomendacao{

        flex-direction: column;
    }

    
}
@media (max-width:1200px) {

    .descriçao {

        margin-bottom: 25%;
    }
}