.centralizado {
    margin: 0 auto;
}

.comprimento {
    width: 1200px;
    height: 100%;
}

.topo {
    background-color: #000000;
    width: 100%;
    height: 61px;
}

.sub-topo {
    font: normal normal normal 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-top: 31px;
}

.link-sub-topo-pagina-inicial {

    margin-top: 31px;
    color: #707070;
    text-decoration: none;
}

.link-sub-topo-fale-conosco {
    color: #707070;
    text-decoration: none;
}

.enviada {
    font: normal normal bold 20px/27px Segoe UI;
    margin-top: 30px;
    color: #707070;
}

.menu {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    font: normal normal bold 25px/33px Segoe UI;
}

.link-meu-livro {
    color: #c4c4c4;
    text-decoration: none;
}

.item-topo {
    font: normal normal normal 16px/21px Segoe UI;
}

.link-fale-conosco {
    color: #c4c4c4;
    text-decoration: none;
}

.meio {
    background-color: #ffffff;
    min-height: 300px;
    text-align: left;
    color: #707070;
}

.miolo-pagina {
    min-height: 183px;
    background-color: #ffffff;
    border: #707070 1px solid;
    margin-top: 33px;
    margin-bottom: 506px;
}

.conteudo-do-miolo {
    padding: 20px;
}

button {
    background-color: #ffffff;
    width: 249px;
    height: 42px;
    float: right;
    margin-top: 70px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
}

.link-button {
    color: #707070;
    text-decoration: none;
    font: normal normal bold 16px/21px Segoe UI;
}

.final {
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 0 auto;
}

.rodape {
    text-align: center;
    font: normal normal normal 18px/24px Segoe UI;
    color: #707070;
}

/* Pagina Fale Conosco */

.entre-em-contato {
    height: 45px;
    text-align: left;
    font: normal normal normal 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-top: 30px;
}

form {
    text-align: left;
    font: normal normal bold 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;


}

.box {


    display: flex;
    margin-top: 40px;



}

fieldset {

    border: none;
    opacity: 1;
    width: 100%;
    padding: 0%;
}

.inputbox {
    display: flex;
    flex-direction: column;



}

.inputuser {
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;


}

.labelinput {
    top: 0px;
    left: 0px;
    pointer-events: none;


}


.box-enviar {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}


.submit-esquerdo {

    margin-top: 0;
    width: 249px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}

.submit-direito {

    margin-top: 0;
    width: 95px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
    cursor: pointer;
}

img {

    width: 100%;
}

input#nome.inputuser {

    width: 80%;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-bottom: 17px;
    display: block;
}

input#email.inputuser {

    width: 80%;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-bottom: 17px;
    display: block;
}

input#mensagem.inputuser {

    width: 100%;
    height: 125px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin-bottom: 17px;
}



.Texto-entre-contato {

    margin-top: 30px;
    text-align: left;
    font: normal normal bold 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-bottom: 45px;
}

.Texto-queremos-ouvir {

    text-align: left;
    font: normal normal normal 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    margin-bottom: 40px;

}

p.queremos-ouvir {

    font: normal normal normal 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;

}

.texto-vermelho {

    display: inline-flex;
    background-color: #FE6C6C;
    text-align: left;
    font: normal normal normal 16px/21px Segoe UI;
    color: #FFFFFF;
    opacity: 1;
    padding: 7px 6px 7px 9px;
    margin-bottom: 27px;
}

a:hover {

    /* background-color: yellow; */
    filter: brightness(0.85);
}

.botao:hover {

    background-color: #f7f6f6;
}

.imagem {

    margin-top: 20px;

}

.input:hover {


    background-color: #f7f6f6;

}

/* Atividade do quadrado  */

.descriçao {

    width: 1200px;
    height: 120px;
    text-align: center;
    margin-top: 40px;
    font: normal normal bold 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.sub-descriçao {

    padding-top: 72px;
    text-align: left;
    font: normal normal normal 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.artigo {

    background-color: #FE6C6C;
    width: 1200px;
    height: 555px;
    margin-top: 40px;
    /* text-align: center; */



}

.bloco-artigo {

    width: 800px;
    /* height: 131px; */
    display: flex;
    flex-direction: row;
    background-color: blue;
    /* margin-top: 10px; */

}

.img-artigo {

    width: 131px;
    height: 131px;
    float: left;
    padding-right: 17px;
}

.conteudo-artigo {

    /* width: 87.5%;
    height: 50%; */
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* display: inline-flex; */
    /* align-items: end; */
    /* text-align: left; */
    font: normal normal bold 18px/24px Segoe UI;
    /* letter-spacing: 0px; */
    color: #707070;
    /* opacity: 1; */



}

.titulo-artigo {


}

.texto-artigo {

    width: 780px;
    height: 50%;
    background-color: white;
    text-align: left;
    font: normal normal normal 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;


}

/* funcionamento do responsive */

@media (max-width: 1200px) {
    .comprimento {
        background-color: transparent;
        width: 80%;
    }

    @media (max-width: 1920px) {
        #final {
            background-color: transparent;
            width: 100%;
            height: 100%;
        }
    }
}